html{
    color: #191970;  /* Midnight Blue */
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    padding: 1rem;
    margin: 0.5rem;
}

header {
    font-size: 1.2rem;
    margin: 0.5 auto;
    margin-bottom: 1.5rem;
    border: hidden;
}

main {
    background-color: #808080; /* Medium Gray */
    color: #fff; /* Pure White */
}