/* HTML and body */
html, body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;  /* Light Gray */
  color: #333;  /* Mineshaft Gray */
  padding: 1.25rem;
}

/* Banner */
section.banner {
  background-color: #F0E68C;  /* Light Yellow */
  margin: 0 auto;
  padding: 1rem;
  border: hidden;
}

header {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1.25rem;
}

nav li a {
  text-align: center;
  text-decoration: none;
  padding: 0.75rem 1rem;
}

nav li a:hover {
  background-color: #111;
}


/* Home Page */
main {
  background-color: #87CEFA;  /* Sky Blue */
}

section.top-section h1 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

section.top-section a:hover {
  background-color: #333;
}

/* Intro section with 2 columns */
section.intro-section {
  display: flex;
  justify-content: space-around;
}

div.home-container {
  display: flex;
  justify-content: space-evenly;
}
  
div.home-column {
  border: 1px solid #333;
  padding: 1.25rem;
}

div#home-left-column {
  flex: 0 0 60%; /* Fixed width of 60% */
}
  
div#home-right-column {
  flex: 1; /* Remaining space */
}

/* Big button */
div.big-btn {
  display: block;
  padding: 0.5rem;
  margin: 0 auto;
}

div.big-btn button {
  background-color: #ff69b4;  /* Hot Pink */
  color: #111;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid #111;
  border-radius: 25%;
}

/* Create story button and contribution aside */
aside#contribution-aside {
  background-color: #f0e68c;  /* Light Yellow */
  color: #333;
}


/* Stories Page */
ul#stories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul#stories-list li {
  list-style-type: none;
  margin: 0.5rem;
  border: 2px solid #333;
}

ul#stories-list li a:hover {
  background-color: #333;
}


/* Footer */
footer {
  background-color: #F0E68C;  /* Light Yellow */
}