{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h1>User Profile for {{ user.username }}</h1>
<ul>
    <li>
        Name: {{ user.full_name }}
    </li>
    <li>
        Stories: <a href="/stories/">{{ user.stories.count }}</a>
    </li>

    {% if profile.website %}
    <li>
        Website: <a href={{ profile.website }}></a>
    </li>
    {% endif %}
</ul>

{% if profile.bio %}
<p>{{ profile.bio }}</p>
{% endif %}

<div class="big-btn">
    <button class="big-btn" onclick="window.location.href='update/'">Update Profile Details</button>
</div>

<div class="danger">
    <h2>Delete Account</h2>
    <p>Be careful, you can't undo this!</p>
    <div>
        <button onclick="return confirmDelete();">
            <a href="delete/">Delete My Account</a>
        </button>
    </div>
</div>
{% endblock %}