{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple application for outlining and planning fictional stories.">
    <meta name="keywords" content="story, writing, fiction, outlining, planning, fantasy, game">
    <meta name="author" content="Jacob A. Torres">

    <title>{% block title %}{% endblock %} | The Story Builder</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <section id="top-section">
        <div id="header-div">
            <header>The Story Builder</header>
        </div>

        <div id="nav-div">
            <nav id="nav-bar">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright © 2024 <a href="https://jacobtorres.net/">Jacob A. Torres</a></p>
        </footer>
</body>
</html>