{% extends 'list_layout.html' %}
{% block title %}Characters in {{ story_title }}{% endblock %}

{% block list_content %}
<h1 class="list-heading">Characters in {{ story_title }}</h1>

{% if not characters %}
<p class="list-no-items">
    There are no characters in this story yet. When you add some, they will be listed here.
</p>

{% else %}
<table>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for character in characters %}
    <tr>
        <td>
            <a href={{ character.slug }}>{{ character.full_name }}</a>
        </td>
        <td>
            <a href="{{ character.slug }}/update/">Update</a> | <a href="{{ character.slug }}/delete/">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div class="big-btn">
    <button class="big-btn" onclick="window.location.href='new/'">New Character</button>
</div>
{% endblock %}