{% extends 'detail_layout.html' %}
{% block title %}{{ plot_point.name }}, from {{ story_title }}{% endblock %}

{% block detail_content %}
<h1>{{ plot_point.name }}</h1>
<h2>
  Plot Point {{ plot_point.order }} in <a href="/stories/{{ story_slug }}/">
    {{ story_title }}
  </a>
</h2>
<p>{{ plot_point.description }}</p>
{% endblock %}

{% block action_buttons %}
<div class="action-btn">
    <button class="action-btn" onclick="window.location.href='characters/new/'">Add Character</button>
  </div>
{% endblock %}