{% extends 'detail_layout.html' %}
{% block title %}{{ scene.title }}, from {{ story.title }}{% endblock %}

{% block detail_content %}
<h1>{{ scene.title }}</h1>
<p>{{ scene.description }}</p>
{% endblock %}

{% block action_buttons %}
<div class="action-btn">
  <button class="action-btn" onclick="window.location.href='new-character/'">Add Character</button>
</div>
<div class="action-btn">
  <button class="action-btn" onclick="window.location.href='new-note/'">Add Note</button>
</div>
{% endblock %}