{% extends 'list_layout.html' %}
{% block title %}Scenes from {{ story_title }}{% endblock %}

{% block list_content %}
<h1 class="list-heading">
    Scenes in {{ story_title }}
</h1>

{% if not scenes %}
<p class="list-no-items">
    You have no scenes yet. When you do, they will be listed here.
</p>

{% else %}
<table>
    <thead>
        <th>Scene Title</th>
        <th>Reorder</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {% for scene in scenes %}
        <tr>
            <td>
                <a href={{ scene.order }}>{{ scene.title }}</a>
            </td>
            <td>
                <a href="{{ scene.order }}/up/">Move Up</button>
                    <span style="margin: 0 0.5rem;">|</span>
                    <a href="{{ scene.order }}/down/">Move Down</button>
                </td>
            <td>
                <a href="{{ scene.order }}/update/">Update</a>
                <span style="margin: 0 0.5rem;">|</span>
                <a onclick="return confirmDelete();" href="{{ scene.order }}/delete/">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="big-btn">
    <button class="big-btn" onclick="window.location.href='new/'">New Scene</button></section>
</div>
{% endblock %}