{% extends 'base.html' %}

{% block title %}Stories{% endblock %}

{% block content %}
<section class="stories-section">
    <h1>Your Stories</h1>
    <!-- Loop through the list of stories passed from the new_story view function.-->
    {% if not stories %}
    <p>You have no stories yet. When you do, they will be listed here.</p>

    {% else %}
    <ul id="stories-list">
        {% for story in stories %}
        <li>
            <a href={{ story.id }}>{{ story.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>

    <div class="big-btn">
        <button class="big-btn" onclick="window.location.href='new/'">New Story</button></section>
    </div>
</section>
{% endblock %}