{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <section class="introduction" role="region" aria-label="introduction">
        <h1>Welcome to the Story Builder</h1>
        <p>This is the beginning of your story. <a href="">Start crafting new worlds today!</a></p>
        <hr>

        <h2>Coming Soon: Your Digital Canvas for Creative Storytelling</h2>
        <p>Story Builder is a powerful and intuitive tool designed to help writers and other creative minds bring their stories to life. Whether you're crafting a novel, scripting a game, or worldbuilding a fantasy realm, Story Builder provides a comprehensive suite of features to organize and develop your narrative.</p>
        <p>Key features include:</p>

        <ul>
            <li>Character Creation: Design detailed characters with unique personalities, backstories, and relationships.</li>
            <li>Plot Development: Outline your story's arc and create intricate plot lines to keep your audience on their toes.</li>
            <li>World Building: Construct immersive worlds with rich histories, cultures, and geographies.</li>
            <li>Scene Writing: Break down your story into scenes, easily revising and reorganizing as you go.</li>
            <li>Collaboration Tools: Share your projects with fellow writers, collaborate on ideas, and receive feedback from your audience.</li>
        </ul>

        <p>With Story Builder, you can streamline your creative process, enhance your storytelling abilities, and bring your imaginative visions to life.</p>

        <button>Let's get started!</button>
    </region>
    <hr>

    <aside>
        <h2>Contribute</h2>
        <p>Please feel free to submit a pull request <a href="https://github.com/jacob-torres/story-builder/pull/">here</a> to contribute to the project on GitHub.</p>
    </aside>
{% endblock %}