{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <section role="region" aria-label="introduction">
        <h1>Welcome to the Story Builder</h1>
        <p>This is the beginning of your story. <a href="">Start crafting new worlds today!</a></p>
        <hr>

        <h2>Your Digital Canvas for Creative Storytelling</h2>
        <p>Story Builder is a powerful and intuitive tool designed to help writers, game designers, and creative minds bring their stories to life. Whether you're crafting a novel, scripting a game, or worldbuilding a fantasy realm, Story Builder provides a comprehensive suite of features to organize and develop your narrative.</p>
        <p>Key features include:</p>

        <ul>
            <li>Character Creation: Design detailed characters with unique personalities, backstories, and relationships.</li>
            <li>Plot Development: Outline your story's arc, create intricate plot points, and visualize the narrative flow.</li>
            <li>World Building: Construct immersive worlds with rich histories, cultures, and geographies.</li>
            <li>Scene Writing: Break down your story into scenes, track their progression, and easily revise and reorganize.</li>
            <li>Collaboration Tools: Share your projects with fellow writers, collaborate on ideas, and receive feedback.</li>
        </ul>

        <p>With Story Builder, you can streamline your creative process, enhance your storytelling abilities, and bring your imaginative visions to life.</p>

        <button>Let's get started!</button>
    </region>

{% endblock %}